<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.opengis.indoorgml.core.v_1_0">

	<resultMap type="MultiSurface" id="MultiSurfaceResultMap">
	
		<id property="id" column="ID" />
		
		<result property="gmlId" column="GMLID" />
        <result property="srsName" column="SRS_NAME" />
        <result property="srsDimension" column="SRS_DIMENSION" />
        <result property="isXLink" column="IS_XLINK"/>
        
        <result property="geometry" column="GEOM" />
        
        <collection property="surfaces" column="id" ofType="Surface" select="selectSurface"/>
    </resultMap>

	<resultMap type="HashMap" id="SurfaceMemberResultMap">
    	<association property="multiSurface" javaType="MultiSurface" column="MULTISURFACE_ID" foreignColumn="ID"/>
    	<association property="surface" javaType="Surface" column="SURFACE_ID" foreignColumn="ID"/>
    </resultMap>


	<insert
    	id="insertMultiSurface"
    	parameterType="MultiSurface"
    	flushCache="true"
		useGeneratedKeys="true"
	>
		INSERT INTO MultiSurface 
		(GMLID, SRS_NAME, SRS_DIMENSION, IS_XLINK, GEOM)
		VALUES (#{gmlId}, #{srsName}, #{srsDimension}, #{isXLink}, #{geometry})
		<selectKey keyProperty="id" keyColumn="ID" resultType="int" order="AFTER">
			SELECT max(ID) FROM MultiSurface
     	</selectKey>
	</insert>

    <insert
		id="insertSurfaceMember"
		parameterType="HashMap"
		flushCache="true"
		>
		INSERT INTO SurfaceMember (MULTISURFACE_ID, SURFACE_ID)
		VALUES (#{multiSurface.id}, #{surface.id})	
	</insert>

	<select
     	id="selectMultiSurface"
     	resultMap="MultiSurfaceResultMap"
     	parameterType="int"
     >
     	SELECT * 
     	FROM MultiSurface
     	WHERE ID = #{id}
     </select>

</mapper>